@model List<RestaurantApp.Models.Restaurant>

<h1>@ViewBag.Title</h1>

<p><a asp-controller="Restaurant"asp-action="Edit">Edit Restaurants</a></p>

@if (Model.Count == 0)
{
    <p>No Restaurants Yet</p>
}


@if (Model.Count != 0)
{
    <form asp-controller="Restaurant" asp-action="Complete" method="post" >
        <ul>
            @foreach (var restaurant in Model)
            {
                <li>
                    <input type="radio" name="ID" id="@restaurant.ID" value="@restaurant.ID" />
                    <label for="@restaurant.ID">@restaurant.Name</label> @restaurant.RestaurantStatus
                </li>
            }
        </ul>
        <input type="submit" value="Mark as Complete" />
    </form>

<p><a asp-controller="Restaurant" asp-action="Add">Add Restaurant</a></p>
<p><a asp-controller="Restaurant" asp-action="Remove">Remove a Restaurant</a></p>
}

